.header-main {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.align-items-center {
    align-items: center !important;
}

a:-webkit-any-link{
    text-decoration:none !important;
    }
    