.product { 
    float: left;
    width: 29.3333%; 
    padding: 1em; 
    margin: 2%; 
    text-align: center; 
    border: solid 1px transparent;
    border-radius: 5px;
 }
.product:hover { border: solid 1px #ddd;  }

img { width: 100%; margin-bottom: 0.9em; border-radius: 3px;  }
h6 { margin: 0; font-size: 0.85em; font-weight: normal; }
p { margin: 0; font-weight: bold; font-size: 0.85em; }